{% extends 'base.html.twig'%}
{% block title%}Show Articles {% endblock title%}
{% block body %}

{%if article%}
<p class="row">
  <div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{article.image}}" class=""/>
    <a href="articless/show/{{article.id}}">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title text-primary">{{article.titre}}</h5>
    <p class="card-text">{{article.description}}</p>
    <hr>
    <p class="text-danger h3">{{article.prix}} CFA</p>
    <a href="articles/delete/{{article.id}}" class="btn btn-primary">Delete</a>
    <a href="articles/update/{{article.id}}" class="btn btn-primary">update</a>

  </div>
</div>
</p>
{%else%}
pas de de articles
{%endif%}
<a href="/"> back</a>
{% endblock %}