{% extends 'base.html.twig'%}
{% block title%}Articles {% endblock title%}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue {{ name }}! </h1>
<p class="text-danger">voir la liste de nos articles</p>
<a class="bg-primary btn text-white btn-rounded" href="{{ path('articles_new') }}" > ajouter articles </a>
{%if articles%}
 <div class="row py-3">
{% for article in articles%}
 <div class="col-lg-4 col-md-6 mb-4 " >
  <div class="card border border-primary shadow-0 mb-3" >
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="{{article.image}}" class="img-fluid"/>
    <a href="articles/show/{{article.id}}">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title text-primary ">{{article.titre}}</h5>
    <p class="card-text card-body">{{article.description}}</p>
    <hr>
    <p class="text-danger h3">{{article.prix}} CFA</p>
    <a href="articles/delete/{{article.id}}" class="btn btn-primary">Delete</a>
    <a href="articles/update/{{article.id}}" class="btn btn-primary">update</a>
  </div>
</div>
</div>
{%endfor%}
</div>
{%else%}
pas de de articles
{%endif%}
</div>
{% endblock %}
